body{
  margin:0;
  padding:0;
  font-family:sans-serif;
  font-size:20px;
}
.container2{
    margin-right: 6%;
}
.container1{
    margin-left: 6%;
    margin-right: 6%;
}
#bla1{
  color: #455a64;
  font-size:18px;
  padding:0px;
  margin-left:0px;
  padding-left:50px;
  border:1px solid transparent;
  border-bottom:3px solid #007777;
  border-radius: 10px;
  box-shadow: 0px 13px 10px #888888;
}
#bla{
color: #455a64;
font-size:18px;
padding:0px;
margin-left:0px;
padding-left:50px;
border:1px solid transparent;
border-bottom:3px solid black;
border-radius: 10px;
}
#form{
  margin-top: 0%;
  margin-bottom:8%;
  margin-left:8%;
  margin-right:8%;
padding:60px;
background-color:#F1F1F1;
border-radius:20px;
}
i{
position:absolute;
margin-left:20px;
margin-top:11px;
}
#submit{
  text-align: center;
  padding:12px;
  width:170px;
  color:white;
  border:none;
  background: linear-gradient(125deg,#1BBCB2, #37B9E9);
  border-radius:5px;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.3);
}
#submit:hover{
  box-shadow: none;
  background: linear-gradient(125deg,#37B9E9, #1BBCB2);
}
#sub{
  margin-top: 3px;
  margin-left: 9px;
}
